<!-- We can refer templates from other apps -->
{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <!-- We need to add CRF token to protect the form against attacks (added security that django requires) -->
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <!--legend class="border-bottom mb-4">Join now!</legend-->
            <!-- crispy formats our form -->
            {{form | crispy}}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already gave an account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>
{% endblock %}